<section id="games" class="section">
    <h2>Games</h2>
    <div class="games-grid">
        <div class="game-card">
            <a href="https://www.minecraft.net/en-us/about-minecraft"><img src="assets/Minecraft.jpg"
                    alt="Minecraft Ed" /></a>
            <h3>Minecraft Education</h3>
            <p>
                Explore custom maps and complete challenges created by the
                community.
            </p>
        </div>
        <div class="game-card">
            <a href="https://www.minecraft.net/en-us/about-dungeons"><img src="assets/dungeons.webp"
                    alt="Minecraft Dungeons" /></a>
            <h3>Minecraft Dungeons</h3>
            <p>
                Gather resources, craft tools, and survive against mobs in this
                challenging mode.
            </p>
        </div>
        <div class="game-card">
            <a href="https://www.minecraft.net/en-us/about-legends"><img src="assets/legends.webp"
                    alt="Minecraft Legends" /></a>
            <h3>Minecraft Legends</h3>
            <p>
                Unleash your creativity with unlimited resources and the ability
                to fly.
            </p>
        </div>
        <div class="game-card">
            <a href="https://education.minecraft.net/en-us"><img src="assets/education.png" alt="Minecraft Ed" /></a>
            <h3>Minecraft Education</h3>
            <p>
                Explore custom maps and complete challenges created by the
                community.
            </p>
        </div>
    </div>
</section>