<header>
    <div class="header-content">
        <a href="index.php"><img src="../assets/logo.svg" alt="Minecraft Logo" class="logo" /></a>
        <!-- Hamburger Menu Icon -->
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="hamburger-icon"></span>
        </button>
        <!-- Navbar Links -->
        <nav class="navbar">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#games">Games</a></li>
                <li><a href="#trailers">Trailers</a></li>
                <li><a href="#contact">Contact Us</a></li>
                <li><a href="view_submissions.php">View Messages</a></li>
            </ul>
        </nav>
    </div>
</header>